body {
  font-family: Helvetica;
  text-align: center;
}

#header {
  background-image: url("building.png");
  }

#header p,a {
  font-size: 18px;
  color: white;
}


h1,h2,h3 {
  font-weight: bold;
}

h1 {
  color: white;
  font-size: 70px;
}

h2 {
  font-size: 32px;
}

h3 {
  font-size: 23px;
}

p {
  font-size: 14px;
}

.contrast {
  color: white;
  background-image: url("building.png");
  }

span {
  font-size: 11px;
}

footer {
  background-color: dimgray;
  color: white;
  text-align: left;
}
